<!DOCTYPE html>
<html lang="en" class="background-grey">

<head>
  <title>FavForMe - App Landing Page</title>

  <!-- Meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Angular Material -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <!-- Page's style -->
  <link rel="stylesheet" href="assets/css/register.css">
</head>

<body ng-cloak ng-app="ffm.register" class="background-grey register" ng-controller="RegisterCtrl">
  <form name="registerForm" layout="column" layout-align="space-around center" ng-submit="save()">


    <div flex> &nbsp; </div>

    <md-card>
      <div class="md-card-title">
      </div>
      <md-card-content >
        <div class="form-loading" ng-show="loading">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div class="form-container" layout="column" layout-align="space-around center" ng-class="{'form-container-loading': loading}">
          <md-input-container flex>
            <label>Name</label>
            <input ng-model="user.name" name="name" required>
            <div ng-messages="registerForm.name.$error">
              <div ng-message="required">Required field.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Address</label>
            <input ng-model="user.address" required>
            <div ng-messages="registerForm.address.$error">
              <div ng-message="required">Required field.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Phone number</label>
            <input ng-model="user.phoneNumber" required>
            <div ng-messages="registerForm.phoneNumber.$error">
              <div ng-message="required">Required field.</div>
            </div>
          </md-input-container>

          <md-input-container flex layout="row" layout-align="space-around center">
            <div layout="column" layout-align="space-around left" flex>
              <span class="md-subhead">Imagen (opcional)</span>
              <div layout="row">
                <input aria-label="Upload" type="file" ngf-select="upload($file, $invalidFiles)" accept="image/*" ng-disabled="loadingImage"
                />
              </div>
            </div>
            <div layout="row" layout-align="center center" flex>
              <img class="imagePreview" ng-show="!loadingImage && user.profilePictureUrl" ngf-src="user.profilePictureUrl" />
              <md-progress-circular ng-show="loadingImage" md-mode="indeterminate"></md-progress-circular>
            </div>
          </md-input-container>

          <md-divider></md-divider>

          <md-input-container flex>
            <label>Email</label>
            <input ng-model="user.email" type="email" required>
            <div ng-messages="registerForm.email.$error">
              <div ng-message="required">Required field.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Password</label>
            <input ng-model="user.password" type="password" required>
            <div ng-messages="registerForm.password.$error">
              <div ng-message="required">Required field.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Confirm password</label>
            <input ng-model="user.passwordConfirm" type="password" valid-password-c="user.password" required>
          </md-input-container>
          <div class="footer">
              <md-button type="submit" class="md-raised md-primary" ng-disabled="registerForm.$invalid || loading">Confirm</md-button>
            </div>
        </div>
      </md-card-content>
    </md-card>

  </form>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>

  <!-- Angular Material -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

  <!-- Ng file upload -->
  <script src="https://cdn.rawgit.com/danialfarid/ng-file-upload/master/dist/ng-file-upload.min.js"></script>

  <!-- Controller -->
  <script src="controllers/registerCtrl.js"></script>

  <!-- Main -->
  <script type="text/javascript">
    // Initialize the Firebase SDK
    firebase.initializeApp({"apiKey":"AIzaSyDNareSrq01PC5TqOExr8WT3fRpNbxA2Vw","authDomain":"favforme-2db9e.firebaseapp.com","databaseURL":"https://favforme-2db9e.firebaseio.com","projectId":"favforme-2db9e","storageBucket":"favforme-2db9e.appspot.com","messagingSenderId":"589574697230"});

    // Initialize angular module
    var app = angular.module('ffm.register', ['ngMaterial', 'firebase', 'ngFileUpload', 'ffm.ctrls.register']);

    app.directive('validPasswordC', function () {
      return {
        require: 'ngModel',
        scope: {

          reference: '=validPasswordC'

        },
        link: function (scope, elm, attrs, ctrl) {
          ctrl.$parsers.unshift(function (viewValue, $scope) {

            var noMatch = viewValue != scope.reference
            ctrl.$setValidity('noMatch', !noMatch);
            return (noMatch) ? noMatch : !noMatch;
          });

          scope.$watch("reference", function (value) {
            ;
            ctrl.$setValidity('noMatch', value === ctrl.$viewValue);

          });
        }
      }
    });
  </script>
</body>

</html>