<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  property="og:title"
  content="<% if(title) { %><%= title %> <% } %> Fundacion FavForMe"
/>
<!-- <meta property="og:image" content="link_to_image" /> -->
<meta property="og:description" content="Fundacion FavForMe" />
<title><% if(title) { %><%= title %> <% } %> Fundacion FavForMe</title>
<link
  href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Barlow&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="styles/main.css" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=<%= gmCode %>"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "<%= gmCode %>");
</script>
