<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header', { title: title }) -%>
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="stylesheet" href="styles/intro-1.css" />
    <link rel="stylesheet" href="styles/intro-2.css" />
    <link rel="stylesheet" href="styles/acciones.css" />
    <link rel="stylesheet" href="styles/call-actions.css" />
    <link rel="stylesheet" href="styles/join-us.css" />
    <link rel="stylesheet" href="styles/marcas.css" />
    <link rel="stylesheet" href="styles/mobile.css" />
  </head>
  <body>
    <div class="nav-container">
      <button id="nav-toggle" aria-expanded="false" aria-controls="nav-toggle">
        <span class="screen-reader-text">Menu</span>
        <svg
          class="icon icon-menu-toggle"
          aria-hidden="true"
          version="1.1"
          xmlns="https://www.w3.org/2000/svg"
          xmlns:xlink="https://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 100 100"
        >
          <g class="svg-menu-toggle">
            <path class="line line-1" d="M5 13h90v14H5z" />
            <path class="line line-2" d="M5 43h90v14H5z" />
            <path class="line line-3" d="M5 73h90v14H5z" />
          </g>
        </svg>
      </button>
      <nav>
        <ul>
          <li><a href="#">FavForMe</a></li>
          <!-- <li><a href="#acciones">Acciones</a></li> -->
          <li><a href="#join-us">Empresas</a></li>
          <img loading="lazy" src="assets/favforme_logo_white.png" alt="Logo" />
          <!-- <li><a href="#mobile">App mobile</a></li> -->
          <li><a href="#marcas">Marcas</a></li>
          <li><a href="mailto:hello@favforme.com">Contacto</a></li>
        </ul>
      </nav>
    </div>
    <header>
      <section id="landing">
        <h1>Estás en<br />FavForMe</h1>
        <h2>No dejamos a nadie atrás</h2>
        <a href="mailto:support@favforme.com"
          ><button class="main-btn">Sumate ahora</button></a
        >
      </section>
    </header>
    <main>
      <section id="intro-1">
        <img loading="lazy" class="hand" src="assets/mano-1.png" alt="Mano" />
        <div class="content">
          <h1>
            Creamos acciones de impacto positivo y transparente con tu empresa
          </h1>
          <p>
            FavForMe es la plataforma tecnológica perfecta, para generar
            Responsabilidad Social Empresarial con tu organización. Aportá a
            diferentes ACCIONES de forma simple, clara y segura, logranndo entre
            todos alcanzar metas increíbles. Sé parte de OBJETIVOS DE DESARROLLO
            SOSTENIBLES 2015-2030 propuestos por la ONU
          </p>
        </div>
        <img loading="lazy" class="hand" src="assets/mano-2.png" alt="Mano" />
        <img loading="lazy" id="ods" src="assets/ods.png" alt="ODS" />
      </section>
      <section id="intro-2">
        <div class="content">
          <h1>Juntos siempre es mejor</h1>
          <p>
            Muchas organizaciones dedican su vida ayudando en proyectos de
            impacto social y en la mayoría de los casos, se agotan por no contar
            con los recursos suficientes. Decidimos crear un entorno sostenible
            que vincula empresas y ONGs. El cambio lo hacemos entre todos.
          </p>
        </div>
        <img loading="lazy" src="assets/image-3.png" alt="Gente ayudando" />
      </section>
      <section id="acciones">
        <h1>Acciones activas</h1>
        <section id="accion-destacada">
          <img
            loading="lazy"
            class="thumbnail"
            src="assets/image-4.png"
            alt="Fábrica"
          />
          <div class="content">
            <h2>Curso de cocina económica y nutritiva</h2>
            <p>38% completado</p>
            <h3>$38.700.-</h3>
            <p>aportado voluntariamente de $100.000.-</p>
            <div class="progress-bar">
              <span style="width: 38%"></span>
            </div>
            <a href="mailto:support@favforme.com"
              ><button>Favorecer esta acción</button></a
            >
            <div class="social-networks">
              <a href="#">
                <img
                  loading="lazy"
                  src="assets/social-01.png"
                  alt="Link para compartir en Facebook"
                />
              </a>
              <a href="#">
                <img
                  loading="lazy"
                  src="assets/social-02.png"
                  alt="Link para compartir en Instagram"
                />
              </a>
              <a href="#">
                <img
                  loading="lazy"
                  src="assets/social-03.png"
                  alt="Link para compartir en LinkedIn"
                />
              </a>
              <a href="#">
                <img
                  loading="lazy"
                  src="assets/social-04.png"
                  alt="Link para compartir en Twitter"
                />
              </a>
            </div>
          </div>
        </section>
      </section>
      <section id="call-actions">
        <section>
          <img loading="lazy" src="assets/image-1.png" alt="imagen" />
          <h1>Donde podés ayudar</h1>
          <p>
            Te mostramos todos los proyectos activos y vos elegis las acciones
            que más te identifiquen. Tu aporte lo realizás de forma simple y
            clara, la oportunidad es ahora.
          </p>
          <a href="mailto:support@favforme.com"
            ><button>Ver acciones</button></a
          >
        </section>
        <section>
          <img loading="lazy" src="assets/image-2.png" alt="imagen" />
          <h1>invertí en confianza</h1>
          <p>
            Los recursos de R.S.E. que destines, serán tan transparentes como
            nosotros. Te vamos a enviar informes del impacto generado. Ayudá con
            total tranquilidad.
          </p>
          <a href="mailto:support@favforme.com"><button>Favorecer</button></a>
        </section>
        <section>
          <img loading="lazy" src="assets/image-4.png" alt="imagen" />
          <h1>Somos amigables</h1>
          <p>
            Contamos con un equipo dedicado para acompañarte en el proceso y
            atender cualquier inquietud que tengas acerca de nuestro desarrollo,
            contactanos.
          </p>
          <a href="mailto:support@favforme.com"><button>Contactar</button></a>
        </section>
      </section>
      <section id="join-us">
        <h2>La oportunidad es ahora</h2>
        <h1>Formá parte del cambio</h1>
        <img
          loading="lazy"
          src="assets/oficina.png"
          alt="Oficina de FavForMe"
        />
        <p>Hacé tu aporte, dando futuro<br />a quienes más lo necesitan.</p>
        <a target="_blank" rel="noopener noreferrer" href="/register"
          ><button class="main-btn">Quiero sumar mi empresa</button></a
        >
      </section>
      <section id="marcas">
        <h1>Marcas que nos apoyan</h1>
        <div class="content">
          <a
            href="https://trilogylab.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img loading="lazy" src="assets/marcas_01.png" alt="Trilogy" />
          </a>
          <a href="https://fi.co" target="_blank" rel="noopener noreferrer">
            <img
              loading="lazy"
              src="assets/marcas_02.png"
              alt="Founder Institute"
            />
          </a>
          <a
            href="https://www.blahbox.net/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img loading="lazy" src="assets/marcas_03.png" alt="BlahBox" />
          </a>
          <a
            href="http://gorather.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              loading="lazy"
              src="assets/marcas_04.png"
              alt="Rather"
              rel="noopener noreferrer"
            />
          </a>
        </div>
      </section>
    </main>
    <footer>
      <section id="mobile">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100px; width: 100%"
        >
          <path
            style="stroke: none; fill: white"
            d="M0.84,2.47 C245.20,162.33 245.77,163.32 501.40,1.47 L500.27,-3.47 L0.27,-7.42 Z"
          ></path>
        </svg>
        <h1>Nuestra App Mobile</h1>
        <p>
          Estamos validando producto en nuestra APP,<br />descargala
          <span class="highlight">gratis</span> y dejanos tu feedback
        </p>
        <a
          href="https://play.google.com/store/apps/details?id=com.appstract.favforme"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img loading="lazy" src="assets/mobile.png" alt="¿Qué necesitás?" />
        </a>
        <p>Tus sugerencias nos ayudan a seguir mejorando, escribinos a</p>
        <a href="mailto:support@favforme.com">support@favforme.com</a>
      </section>
      <section id="footer-map">
        <img loading="lazy" src="assets/favforme_logo_white.png" alt="Logo" />
        <ul>
          <li><a href="#landing">Home</a></li>
          <li><a href="#intro-1">FavForMe</a></li>
          <!-- <li><a href="#acciones">Acciones</a></li> -->
          <li><a href="#join-us">Empresas</a></li>
          <!-- <li><a href="#mobile">App</a></li> -->
          <li>
            <a target="_blank" rel="noopener noreferrer" href="/terms.html"
              >Términos y Condiciones</a
            >
          </li>
        </ul>
      </section>
      <section id="copyright">
        <p>Favforme 2020 - All rights reserved</p>
      </section>
    </footer>
    <script>
      let navbarOpen = false;
      const navbarContainer = document.querySelector(".nav-container");
      const navbarToggle = document.querySelector(".nav-container button svg");
      const navbarImg = document.querySelector(".nav-container nav ul img");
      const navbarLIs = document.querySelectorAll(".nav-container nav ul li");
      const navbarBtn = document.querySelector("#nav-toggle");
      // Don't like it but well...
      const navbarMobile = document.querySelector(".nav-container nav ul");
      const navbarMobileTwo = document.querySelector(".nav-container nav");

      var locked = false;
      var lastCall = false;

      navbarBtn.addEventListener("click", toggleNavbar);
      window.addEventListener("scroll", handleScroll, { passive: true });
      window.onresize = function handleOnResize() {
        navbarOpen = false;
      };

      function toggleNavbar() {
        navbarOpen = !navbarOpen;
        navbarBtn.setAttribute("aria-expanded", navbarOpen);
        navbarBtn.classList = navbarOpen ? "opened" : "";
        navbarMobile.classList = navbarOpen ? "active" : "";
        navbarMobileTwo.classList = navbarOpen ? "active" : "";
        navbarToggle.classList = `icon ${navbarOpen ? "black" : ""}`;
        navbarContainer.classList = `nav-container ${
          navbarOpen ? "white" : ""
        }`;
        navbarLIs.forEach(
          (li) => (li.firstChild.classList = navbarOpen ? "scrolled" : "")
        );
      }
      function handleScroll() {
        if (locked) return;
        lastCall = setTimeout(() => {
          handleScroll();
          // you do this because you want to handle the last
          // scroll event, even if it occurred while another
          // event was being processed.
        }, 200);
        if (
          document.body.scrollTop > 400 ||
          document.documentElement.scrollTop > 400
        ) {
          navbarToggle.classList = "icon black";
          navbarContainer.classList = "nav-container white";
          navbarImg.setAttribute("src", "assets/favforme_logo.png");
          console.log("START");
          navbarLIs.forEach((li) => {
            console.log(li.firstChild);
            return (li.firstChild.classList = "scrolled");
          });
        } else {
          navbarToggle.classList = !navbarOpen && "icon";
          navbarContainer.classList =
            (!navbarOpen && "nav-container") || navbarContainer.classList;
          navbarImg.setAttribute("src", "assets/favforme_logo_white.png");
          !navbarOpen &&
            navbarLIs.forEach((li) => (li.firstChild.classList = ""));
        }
        locked = false;
      }
    </script>
  </body>
</html>
