
.background-grey {
  background:#3d4a9a;
}

.register .md-headline { 
  font-size: 16px; 
} 

.register .md-subhead {
  font-size: 12px; 
}

.register md-card {
  width: auto;
  margin: 0px;
} 

.register md-card .md-card-title { 
  background-image: url(../img/register/header.png);
  min-height: 23vh;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
} 

.register md-card .md-card-title img { 
  position: absolute;
  width: 120px;
} 

.register md-card md-card-content {
  padding: 10px 15%;
  height: 550px;
}

.register md-card .footer {
  width: 100%;
  text-align: right;
  margin: 5px;
}

.register md-card .footer button {
  padding: 5px 10px;
}

.register md-input-container {
  width: 100%;
}

.register .fileupload {
  position: relative;
  top: 12px;
}

.register .imagePreview {
  width: 70px;
}

.register md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
  color: rgba(0,0,0,0.87);
}

.register .form-loading {
  position: absolute;
  left: 50%;
  margin-top: 200px;
}

.register .form-container {
  height: 100%;
}

.register .form-container-loading {
  opacity: 0.2;
}

/* Desktop Only */
@media (min-width: 426px) {
  .register md-card .md-card-title { 
    height: 330px;
  } 

  .register .md-headline { 
    font-size: 24px; 
    padding: 24px 16px 16px; 
  } 

  .register .md-subhead {
    font-size: 16px; 
  }

  .register md-card {
    width: 740px;
    margin: 50px;
  } 
} 