#acciones {
  margin-top: 6em;
}
#acciones h1 {
  text-align: center;
}
#accion-destacada {
  display: grid;
  padding: 50px 200px;
  grid-template-columns: 1fr 1fr;
  border: 5px solid var(--main-color);
  border-radius: 200px 25px 200px 200px;
}
#accion-destacada .thumbnail {
  width: 100%;
  border-radius: 200px 25px 200px 200px;
}
#accion-destacada .content h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--important-color);
}
#accion-destacada .content h3 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
  color: var(--important-color);
}
#accion-destacada .progress-bar {
  height: 10px;
  position: relative;
  border-radius: 1em;
  border: 2px solid var(--important-color);
}
#accion-destacada .progress-bar span {
  height: 100%;
  display: block;
  border-bottom-right-radius: 1em;
  background-color: var(--important-color);
}
#accion-destacada button {
  margin: 1em 0;
}
#accion-destacada .content .social-networks a {
  margin: 0 1em;
}
@media (max-width: 1280px) {
  #acciones {
    margin: 0 -60px;
  }
  #accion-destacada {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 960px) {
  #accion-destacada {
    padding: 50px;
  }
}
@media (max-width: 600px) {
  #acciones {
    margin: 0 -140px;
  }
}
