#call-actions {
  display: flex;
  padding-top: 10em;
}
#call-actions section {
  display: grid;
  text-align: center;
  padding: 0 2em;
}
#call-actions section img {
  max-width: 100%;
  justify-self: center;
}
#call-actions section button {
  justify-self: center;
}
@media (max-width: 1280px) {
  #call-actions {
    flex-wrap: wrap;
  }
  #call-action section {
    padding: 0;
  }
}
@media (max-width: 600px) {
  #call-actions {
    padding-top: 3em;
    margin: 0;
  }
  #call-actions section {
    padding-bottom: 2em;
  }
}
