#join-us {
  padding-top: 6em;
  text-align: center;
}
#join-us h2 {
  margin-bottom: 0.5em;
}
#join-us h1 {
  margin-top: 0;
}
#join-us img {
  border-radius: 25px 200px 200px 200px;
}
@media (max-width: 960px) {
  #join-us {
    padding: 0 -150px;
  }
  #join-us img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #join-us {
    margin: 0 -140px;
  }
}
