#marcas {
  padding-top: 6em;
  text-align: center;
  padding-bottom: 2em;
}

#marcas .content a img {
  max-width: 100%;
}

#marcas .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#marcas h1 {
  text-align: center;
}

@media (max-width: 600px) {
  #marcas {
    margin: 0;
    padding-top: 3em;
  }
}
