#marcas {
  margin-top: 6em;
  text-align: center;
}
@media (max-width: 600px) {
  #marcas {
    margin: 6em -140px 0;
  }
}

#marcas .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#marcas h1 {
  text-align: center;
}
