#mobile {
  color: white;
  text-align: center;
  padding-bottom: 2em;
  background-color: #274dfb;
}
#mobile h1 {
  color: white;
  margin-top: 0;
  font-weight: bold;
}
#mobile .highlight {
  color: #ffd500;
}
#mobile a {
  font-weight: bold;
  color: #ffd500;
  font-size: 1.25em;
}
#mobile a img {
  max-width: 100%;
}
